/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Light grey background */
    color: #333; /* Dark grey text */
    margin: 0;
    padding: 0;
}

header {
    background-color: #007bff; /* Blue navbar */
    padding: 10px 0;
}

.topnav {
    overflow: hidden;
    text-align: center;
}

.topnav a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
}

.topnav a:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

.container {
    display: flex;
}

.sidebar {
    width: 20%;
    background-color: #e9ecef;
    padding: 15px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.sidebar .search-bar {
    display: flex;
    margin-bottom: 20px;
}

.sidebar .search-bar input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

.sidebar .search-bar button {
    padding: 10px;
    border: 1px solid #ccc;
    border-left: none;
    background-color: #007bff;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.sidebar .search-bar button:hover {
    background-color: #0056b3;
}

.sidebar-links {
    list-style: none;
    padding: 0;
}

.sidebar-links li {
    margin: 10px 0;
}

.sidebar-links a {
    text-decoration: none;
    color: #333;
}

.sidebar-links a:hover {
    color: #007bff;
}

main {
    flex: 1;
    padding: 20px;
}

footer {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.video-container {
    text-align: center;
    margin: 20px 0;
}

/* Slideshow container */
.slideshow-container {
    position: relative;
    max-width: 100%;
    margin: auto;
    text-align: center;
}

.slide {
    display: none;
}

.slide img {
    width: 100%;
}

.caption {
    position: absolute;
    bottom: 8px;
    left: 16px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 8px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select

